.floatExplorationContainer {
    position: absolute;
    top: 40px;
    left: 0;
    width: 25vw;
    padding: 6px;
}

.explorationCard {
    /*border-radius: 5px;
    background: #F3F8FB;*/
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 1px 5px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 1px 5px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.cardToolBar {
    position: absolute;
    top: 0;
    width: 30px;
    right: -35px;
    /*background-color: aqua;*/
    
}

.modelPerformanceContainer {
    /*border-radius: 5px;*/
    background: #fcfcfc;
    padding: 8px;
    /*height: 32vh;*/
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 1px 5px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 1px 5px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* 
* model exploration visualization components
*/
.globalNumericalDistributionContainer {
    position: absolute;
    top: 40px;
    left: 25vw;
    width: 24vw;
    /*height: 160px;*/
    margin-top: 6px;
    margin-left: 5px;
    /*padding: 6px;*/
  }
  
  .narrativeExplainContainer {
    position: absolute;
    top: 245px;
    left: 25vw;
    width: 24vw;
    /*height: 160px;*/
    /*margin-top: 6px;*/
    margin-left: 5px;
    /*padding: 6px;*/
  }
