.floatConfigContainer {
    position: absolute;
    top: 40px;
    left: 0;
    width: 22vw;
    padding: 6px;
}

.configCard {
    /*border-radius: 5px;
    background: #F3F8FB;*/
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 1px 5px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 1px 5px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.space-align-container-config {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
.space-align-block-config {
    flex: none;
    margin-right: 8px;
    /*padding: 4px;*/
    /*border: 1px solid #40a9ff;*/
    font-size: 14px;
  }
.space-align-block-config .end{
    margin: 0;
  }

.variableSelectionContainer {
    margin-top: 8px;
    /*border-radius: 5px;*/
    background: #fcfcfc;
    padding: 10px;
    /*height: 32vh;*/
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 1px 5px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 1px 5px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* 
* model config visualization components
*/
.floatConfigVisComponentsContainer {
  position: absolute;
  top: 40px;
  left: 22vw;
  width: 26vw;
  /*padding: 6px;*/
}

.configDependentYContainer {
  /*height: 32vh;*/
  margin-top: 6px;
  margin-left: 6px;
  /*padding: 6px;*/
  
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 1px 5px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 1px 5px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.configCorrelationContainer {
  /*height: 32vh;*/
  margin-top: 6px;
  margin-left: 6px;
  /*padding: 6px;*/
  
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 1px 5px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 1px 5px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.configIndependentXContainer {
  margin-top: 6px;
  margin-left: 6px;
  /*padding: 6px;*/
  
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0 1px 5px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
  box-shadow:         0 1px 5px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.VIFnotation{
  position: absolute;
  left: 5px;
  top: 315px;
}
