.floatExplorationContainer {
    position: absolute;
    top: 40px;
    left: 0;
    width: 21vw;
    padding: 6px;
}

.floatPlotsContainer {
    position: absolute;
    top: 40px;
    left: 21vw;
    width: 24vw;
    /*height: 160px;*/
    margin-top: 6px;
    margin-left: 5px;
}

.explorationCard {
    /*border-radius: 5px;
    background: #F3F8FB;*/
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 1px 5px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 1px 5px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.cardToolBar {
    position: absolute;
    top: 0;
    width: 30px;
    right: -35px;
    /*background-color: aqua;*/
    
}

.modelPerformanceContainer {
    /*border-radius: 5px;*/
    background: #fcfcfc;
    padding: 8px;
    /*height: 32vh;*/
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0 1px 5px rgba(0, 0, 0, 0.4);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0 1px 5px rgba(0, 0, 0, 0.4);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

/* 
* model exploration visualization components
*/
.globalNumericalDistributionContainer {
    width: 24vw;
}
  
.narrativeExplainContainer {
    margin-top: 10px;
    width: 24vw;
}

/**
* Report authoring panel
*/
.reportAuthoringContainer{
    position: absolute;
    bottom: 0px;
    /*left: 21vw;*/
    right: 0;
    width: 650px;
    padding-left: 6px;
    overflow: hidden;
}

/**
* External Info panel
*/
.externalInfoContainer{
    position: absolute;
    top: 40px;
    left: 49.5vw;
    width: 550px;
    padding: 6px;
}

/**
* Map legend
*/
.mapLegend{
    position: absolute;
    top: 45px;
    right: 50px;
    background-color: #fff;
  }
